
<form name="pagamentodigital" action="https://www.pagamentodigital.com.br/checkout/pay/" method="post">

    <input name="email_loja" type="hidden" value="{{ pagamento.lojaEmail }}">

    {% for item in pagamento.itens %}
        <input name="produto_codigo_{{ loop.index }}" type="hidden" value="{{ item.produtoCodigo }}">
        <input name="produto_descricao_{{ loop.index }}" type="hidden" value="{{ item.produtoDescricao }}">
        <input name="produto_qtde_{{ loop.index }}" type="hidden" value="{{ item.produtoQuantidade }}">
        <input name="produto_valor_{{ loop.index }}" type="hidden" value="{{ item.produtoValor }}" >
    {% endfor %}

    <input name="tipo_integracao" type="hidden" value="{{ pagamento.tipoIntegracao }}">
    <input name="frete" type="hidden" value="{{ pagamento.frete }}">
    {% if pagamento.urlRetorno is not empty %}
    <input name="url_retorno" type="hidden" value="{{ pagamento.urlRetorno }}">
    {% endif %}
    {% if pagamento.urlAviso is not empty %}
    <input name="url_aviso" type="hidden" value="{{ pagamento.urlAviso }}">
    {% endif %}
    {% if pagamento.idPedido is not empty %}
    <input name="id_pedido" type="hidden" value="{{ pagamento.idPedido }}">
    {% endif %}
    {% if pagamento.email is not empty %}
    <input name="email" type="hidden" value="{{ pagamento.email }}">
    {% endif %}
    {% if pagamento.nome is not empty %}
    <input name="nome" type="hidden" value="{{ pagamento.nome }}">
    {% endif %}

</form>
<p style="font-size:large;text-align:center; margin-top: 80px;">Você vai ser direcionado ao Bcash para efetuar o pagamento em <span id="counter"></span> segundos.  Depois de fazer o pagamento, o Bcash vai devolver você para o site <?php echo sfConfig::get('app_view_app_titulo')?>, onde você vai poder acessar seus cupons.  <a href="javascript:document.forms['pagamentodigital'].submit();">Clique aqui se a pagina não redirecionar automaticamente.</a></p>

<script type="text/javascript">

    var cntr = 7;
    function tick() {
        document.getElementById("counter").innerHTML = cntr--;
        if (cntr > 0) {
            setTimeout(tick, 1000);
        } else {
            document.forms['pagamentodigital'].submit();
        }
    }
    tick();

</script>
