{#
    Página de redirecionamento para o Pagamento Digital
#}

<title>{% block title %}Redirecionando ao Pagamento Digital{% endblock %}</title>

{% block content %}

<form name="pagamentodigital" action="https://www.pagamentodigital.com.br/checkout/pay/" method="post">

    <input name="email_loja" type="hidden" value="{{ email_loja }}">

    {% for item in itens %}
        <input name="produto_codigo_{{ loop.index }}" type="hidden" value="{{ item.produto_codigo }}">
        <input name="produto_descricao_{{ loop.index }}" type="hidden" value="{{ item.produto_descricao }}">
        <input name="produto_qtde_{{ loop.index }}" type="hidden" value="{{ item.produto_qtde }}">
        <input name="produto_valor_{{ loop.index }}" type="hidden" value="{{ item.produto_valor }}" >
    {% endfor %}

    <input name="tipo_integracao" type="hidden" value="PAD">
    <input name="frete" type="hidden" value="{{ itens.frete }}">

    {#<input type="image" src="https://a248.e.akamai.net/f/248/96284/12h/imagem.pagamentodigital.com.br/webroot/img/bt_comprar.gif" value="Comprar" alt="Comprar" border="0" align="absbottom" >#}

</form>
<p style="font-size:large;text-align:center; margin-top: 80px;">Você vai ser direcionado ao Pagamento Digital para efetuar o pagamento em <span id="counter"></span> segundos.  Depois de fazer o pagamento, o Pagamento Digital vai devolver você para o site <?php echo sfConfig::get('app_view_app_titulo')?>, onde você vai poder acessar seus cupons.  <a href="javascript:document.forms['pagamentodigital'].submit();">Clique aqui se a pagina não redirecionar automaticamente.</a></p>

<script type="text/javascript">

    var cntr = 7;
    function tick() {
        document.getElementById("counter").innerHTML = cntr--;
        if (cntr > 0) {
            setTimeout(tick, 1000);
        } else {
            document.forms['pagamentodigital'].submit();
        }
    }
    tick();

</script>

        {% endblock  %}